src/main/mule/challenge-AI-agent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:scorekeeper-system-api="http://www.mulesoft.org/schema/mule/scorekeeper-system-api" xmlns:race-data-system-api="http://www.mulesoft.org/schema/mule/race-data-system-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/race-data-system-api http://www.mulesoft.org/schema/mule/race-data-system-api/current/mule-race-data-system-api.xsd
http://www.mulesoft.org/schema/mule/scorekeeper-system-api http://www.mulesoft.org/schema/mule/scorekeeper-system-api/current/mule-scorekeeper-system-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<sub-flow name="startAIChallenge" doc:id="58bbdf97-aa89-480d-b0b8-d5ce2dd60c5f" >
		<set-variable value="#[now()]" doc:name="started" doc:id="8c9c9fa6-5139-4319-92e4-5c49e22682fb" variableName="started"/>
		<race-data-system-api:get-racer doc:name="Get Racer" doc:id="54221545-fccf-4bc9-8eb4-38150e3844af" config-ref="raceDataSystemApiConfig" id="#[payload.racerId]" target="racer"/>
		<ee:transform doc:name="Transform Message" doc:id="a6755add-a1a3-4314-a38d-ff1b4b15a539" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
---
{
	endpoint : vars.racer.baseUri,
	name: vars.racer.name,
	timeout: p("challenge.aiagent.speakname.timeout") as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<scorekeeper-system-api:check-racer-name doc:name="Check Racer Name" doc:id="ad0ed6e3-5832-4433-a6bd-5c2cdceb54fe" config-ref="scorekeeperSystemApiConfig" target="checkNameResult">
			<error-mapping sourceType="HTTP:GATEWAY_TIMEOUT" targetType="APP:RACER_TIMEOUT" />
			<error-mapping sourceType="HTTP:BAD_GATEWAY" targetType="APP:UNREACHABLE_RACER_ENDPOINT" />
		</scorekeeper-system-api:check-racer-name>
		<validation:is-number numberType="FLOAT" doc:name="Check name score" doc:id="36f3b7f9-36f8-41ff-a61a-aef371ba8a53" value="#[vars.checkNameResult.score]" minValue="${challenge.aiagent.speakname.minScore}" message="#[&quot;The name similarity score $(vars.checkNameResult.score)/10 is too low, must be at least $(p('challenge.aiagent.speakname.minScore'))/10.&quot;]">
			<error-mapping sourceType="VALIDATION:INVALID_NUMBER" targetType="APP:SCORE_TOO_LOW" />
		</validation:is-number>
        <ee:transform doc:name="race entry data" doc:id="pqjjze" >
        <ee:variables>
            <ee:set-variable variableName="entry"><![CDATA[%dw 2.0
output application/json 
---
{
	racer: {
		name: payload.name,
		baseUri: payload.endpoint,
  	},
	active: true,
	started: vars.started,	
}]]>
            </ee:set-variable>
        </ee:variables>
    </ee:transform>
		<race-data-system-api:store-entry doc:name="Store Entry" doc:id="12beed64-f137-4785-a85a-9c9b23c8ee3c" config-ref="raceDataSystemApiConfig" id="#[vars.racer.racerId]" >
			<race-data-system-api:store-entry-request-data ><![CDATA[#[vars.entry]]]></race-data-system-api:store-entry-request-data>
		</race-data-system-api:store-entry>
		<race-data-system-api:increase-score-for-entry doc:name="Increase score for entry" doc:id="587efb19-57bc-4049-9e8a-587104df34ad" config-ref="raceDataSystemApiConfig" id="#[vars.racer.racerId]">
			<race-data-system-api:increase-score-for-entry-request-data ><![CDATA[#[{
	name: 1
}]]]></race-data-system-api:increase-score-for-entry-request-data>
		</race-data-system-api:increase-score-for-entry>
		<ee:transform doc:name="Transform Message" doc:id="7237991d-5d94-49fe-9956-7024bea98e35" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	racerId: vars.racer.racerId,
	details: "successfully entered race", // what should we return to the front end here?
	challengeScore: {
			name: payload.challengeScore.name 	
	},
	score: payload.score,
	started: vars.started,
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="AIChallengeQuestion" doc:id="294fa81a-a2fb-428e-a950-882d170fd129" >
		<scheduler doc:name="Scheduler" doc:id="0c0d7594-362f-4567-b8d8-7300ed5b27b2" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES" startDelay="1" frequency='5'/>
			</scheduling-strategy>
		</scheduler>
		<scorekeeper-system-api:generate-formula-one-question doc:name="Generate Formula One Question" doc:id="0753fbb0-f523-4cb4-a78d-91fecc2af741" config-ref="scorekeeperSystemApiConfig" target="f1Question"/>
		<race-data-system-api:search-entries doc:name="Search Entries" doc:id="1e125f08-ec6a-4d4e-9527-75c88b4a0261" config-ref="raceDataSystemApiConfig" active="true"/>
		<flow-ref doc:name="questionBatchProcess" doc:id="91d55769-e33a-494d-a492-01abc25d2742" name="questionBatchProcess"/>
	</flow>
	<flow name="AIBiasChallenge" doc:id="775b6764-b577-494d-84da-5a8fbdb18bd8" >
		<scheduler doc:name="Scheduler" doc:id="087d0e58-04b1-45ad-a36e-5aa0ebb5b721">
			<scheduling-strategy>
				<fixed-frequency frequency="5" timeUnit="MINUTES" startDelay="2"/>
			</scheduling-strategy>
		</scheduler>
		<race-data-system-api:search-entries doc:name="Search Entries" doc:id="99edabf3-751a-4d27-a071-cc3408705a83" config-ref="raceDataSystemApiConfig" active="true" />
		<choice doc:name="Choice" doc:id="f79f969f-60ff-442c-ba11-4e96ed77f3e8" >
			<when expression="#[isEmpty(payload)]">
				<logger level="INFO" doc:name="Logger" doc:id="b50754c1-e2ac-4f2f-8ac4-e4095d68a6b5" message='#["No racers found to run bias challenge"]'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="97671079-71dc-4707-bd2c-c9a53d1e332a" message='#["There are $(sizeOf(payload)) racers available for bias challenge"]'/>
				<scorekeeper-system-api:generate-articles doc:name="Generate Articles" doc:id="aef62e7b-1fa1-488a-8018-03435b881139" config-ref="scorekeeperSystemApiConfig" target="article" />
				<flow-ref doc:name="questionBatchProcess" doc:id="0b5c53d2-0cac-41a9-aa75-65c11363dff6" name="biasBatchProcess"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="challenge-AI-agentFlow" doc:id="775b6764-b577-494d-84da-5a8fbdb18bd8" >
		<scheduler doc:name="Scheduler" doc:id="087d0e58-04b1-45ad-a36e-5aa0ebb5b721">
			<scheduling-strategy>
				<fixed-frequency frequency="5" timeUnit="MINUTES" startDelay="5" />
			</scheduling-strategy>
		</scheduler>
		<scorekeeper-system-api:generate-articles doc:name="Generate Articles" doc:id="aef62e7b-1fa1-488a-8018-03435b881139" config-ref="scorekeeperSystemApiConfig" target="article"/>
		<logger level="INFO" doc:name="Logger" doc:id="ef4805f3-b3ca-46bf-80ab-2f4d98a9d3e0" message="payload going to batcj #[payload] and variables #[vars]"/>
		<race-data-system-api:search-entries doc:name="Search Entries" doc:id="99edabf3-751a-4d27-a071-cc3408705a83" config-ref="raceDataSystemApiConfig" active="true" />
		<logger level="INFO" doc:name="Logger" doc:id="7d38a171-df32-4ff4-a7ae-81a7b8f73caf" />
		<batch:job jobName="ChallengeBiasDetectionBatchJob" doc:id="fb32a4e7-18ce-47f2-ac4d-11bbd8ed03c9" >
			<batch:process-records >
				<batch:step name="getracerBaseUri" doc:id="df7ff2c5-da79-41f1-84e7-3a4217b7d3d1" >
					<race-data-system-api:get-racer doc:name="Get Racer" doc:id="3a9ad854-3e27-44d0-ab97-aabf8f92eb7f" config-ref="raceDataSystemApiConfig" id="#[payload.racerId]" target="racerEntry" />
					<ee:transform doc:name="Transform Message" doc:id="ef0bb0e8-1811-41e8-8396-f12d627f54ea" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	endpoint: vars.racerEntry.baseUri,
	articles: vars.article,
	timeout: p("challenge.aiagent.question.timeout") as Number
	
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="checkBias" doc:id="5d542457-279b-467d-906d-eda369ab60e4" >
					<scorekeeper-system-api:check-article-bias-detection doc:name="Check Article Bias Detection" doc:id="1d8dc742-76bc-4def-9252-92148bc606d3" config-ref="scorekeeperSystemApiConfig"/>
					<ee:transform doc:name="Bias Score" doc:id="a34152ba-7096-420e-a820-b539ce2c0df8" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var score = payload.score  match {
    case 1 -> 5
    case 2 -> 10
    case 3 -> 20
}

---
{
	bias: score
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="8618498a-3a52-4ae0-85d1-fcd512842710" />
				</batch:step>
				<batch:step name="storeBiasScore" doc:id="6cfcbfd9-1b96-474c-a27a-2fb8745dda61" >
					<race-data-system-api:increase-score-for-entry doc:name="Increase Score for Entry" doc:id="eddc2f17-055a-40ff-81bd-61869c6a0249" config-ref="raceDataSystemApiConfig" id="#[vars.racerEntry.racerId]"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
